
/* General Styles */
body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}
h1 {
    font-size: 2em;

}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
p {
    font-size: 1.2em;
    line-height: 1.5em;
}


/* All Content including hero */
.inner-wrapper {
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: rgb(223, 149, 0);
    padding: 2em 0;
}


/* Hero content */
.hero {
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}


/* All the content below the hero */
.main-content {
    width: 80%;
    
}